:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

.container {
	width: auto;
	/* border: 1px solid #ccc; */
}

.input-wrapper {
	display: flex;
	gap: 10px;
}

.input-wrapper input {
	width: 200px;
	border: 1px solid #ccc;
	border-radius: 8px;
	text-align: center;
}

.input-wrapper select {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 8px;
	text-align: center;
}

.input-wrapper button {
	padding: 5px 35px;
	background-color: #ccc;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	color: black;
	font-weight: 700;
}

.result-wrapper {
	width: 200px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 8px;
	margin-top: 20px;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}

	button {
		background-color: #f9f9f9;
	}
}
